<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.meuapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="OBRA PRIMA"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MeuApp">
        <activity android:name=".MainActivity" android:exported="true"><intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter></activity>
        <activity android:name=".FormCadastroProfissional" android:launchMode="singleTask"/>
        <activity android:name=".FormCadastroCliente" android:launchMode="singleTask"/>
        <activity android:name=".TelaPrincipalCliente" android:launchMode="singleTask"/>
        <activity android:name=".TelaPrincipalProfissional" android:launchMode="singleTask"/>
        <activity android:name=".TelaServicosCliente" android:launchMode="singleTask"/>
        <activity android:name=".FormLogin" android:launchMode="singleTask"/>
        <activity android:name=".TelaListaProfissionais" android:launchMode="singleTask"/>
        <activity android:name=".TelaPerfilProfissional" android:launchMode="singleTask" />
        <activity android:name=".TelaEditPerfilCliente" android:launchMode="singleTask" />
        <activity android:name=".TelaServicosProfissional" android:launchMode="singleTask" />
        <activity android:name=".TelaPedido" android:launchMode="singleTask" />
        <activity android:name=".TelaEditPerfilProfissional" android:launchMode="singleTask" />
        <activity android:name=".TelaAvaliar" android:launchMode="singleTask" />
    </application>

</manifest>